
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
GuardForge_Professional_Report.pdf
GUARDFORGE_details.txt
